<a
    href="{{ href }}"
    class="icon-action icon-action-edit"
    aria-label="{{ label|default('Edit') }}"
    title="{{ label|default('Edit') }}"
>
    {% include 'components/ui/icon.twig' with { name: 'ri-pencil-line', size: 'sm' } %}
</a>
