<a href="{{ href }}" class="sidebar-link{% if active|default(false) %} sidebar-link-active{% endif %}">
    {% include 'components/ui/icon.twig' with { name: icon, class: 'sidebar-link-icon' } %}
    <span>{{ label }}</span>
</a>
