<div class="bagan-preview-stack">
    {% for baganNum, baganMatches in matchesByBagan %}
        {% include 'components/matches/bagan-section.twig' with {
            session: session,
            baganNum: baganNum,
            baganMatches: baganMatches,
            baganSettings: baganSettings,
            isShareView: isShareView|default(false)
        } %}
    {% endfor %}
</div>
