APP_NAME="Faith Smashers"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://skyblue-donkey-768625.hostingersite.com

# Di SERVER Hostinger — PHP & MySQL satu mesin, pakai localhost
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u753898012_faithsmasher
DB_USER=u753898012_calvin
DB_PASSWORD=          # isi password MySQL dari hPanel
