<!DOCTYPE html>
<html lang="id" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ app.name }}{% endblock %}</title>
    {% include 'components/favicon.twig' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    {% include 'components/remixicon.twig' %}
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body class="min-h-full font-sans antialiased">
    <div class="app-bg"></div>
    {% block content %}{% endblock %}
    {% include 'components/ui/toast-container.twig' %}
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/toast.js"></script>
</body>
</html>
